[submodule "site/themes/PaperMod"]
	path = site/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "site/themes/themes/PaperMod"]
	path = site/themes/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
